release/develop/20160226-2040/backup/flows/PA_Badging_Issues_Flow-7.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_Configuration_to_variable</name>
        <label>Assign Configuration to variable</label>
        <locationX>274</locationX>
        <locationY>259</locationY>
        <assignmentItems>
            <assignToReference>varInformationCollected</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Information collected about Configuration....</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Configuration_Issue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Installation_issues_to_Variable</name>
        <label>Assign Installation issues to Variable</label>
        <locationX>109</locationX>
        <locationY>261</locationY>
        <assignmentItems>
            <assignToReference>varInformationCollected</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Here are some issues found regarding Installation....</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Installation_Troubleshooting</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Use_variable</name>
        <label>Assignment Use variable</label>
        <locationX>605</locationX>
        <locationY>457</locationY>
        <assignmentItems>
            <assignToReference>varInformationCollected</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Didn&apos;t like the use of it....</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Didn_t_like_it_assignment</name>
        <label>Didn&apos;t like it assignment</label>
        <locationX>751</locationX>
        <locationY>453</locationY>
        <assignmentItems>
            <assignToReference>varInformationCollected</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Didn&apos;t like information collected...</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Didn_t_understand_it_assign_variable</name>
        <label>Didn&apos;t understand it assign variable</label>
        <locationX>452</locationX>
        <locationY>452</locationY>
        <assignmentItems>
            <assignToReference>varInformationCollected</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Didn&apos;t understand it....</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Configuration</name>
        <choiceText>Configuration</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Don_t_U_understand_how_this_works</name>
        <choiceText>Don&apos;t U=understand how this works</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>I_don_t_like_it</name>
        <choiceText>I don&apos;t like it</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Installation</name>
        <choiceText>Installation</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Other</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Use</name>
        <choiceText>Use</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Use_Choice</name>
        <choiceText>Use_Choice</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>Follow_up_Screen</name>
        <label>Follow-up Screen</label>
        <locationX>277</locationX>
        <locationY>153</locationY>
        <defaultConnector>
            <targetReference>Other_Assistance</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Installation_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Problem_Area</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Installation</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Installation_issues_to_Variable</targetReference>
            </connector>
            <label>Installation</label>
        </rules>
        <rules>
            <name>Configuration_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Problem_Area</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Configuration</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Configuration_to_variable</targetReference>
            </connector>
            <label>Configuration</label>
        </rules>
    </decisions>
    <decisions>
        <name>Other_Decision</name>
        <label>Other Decision</label>
        <locationX>463</locationX>
        <locationY>357</locationY>
        <defaultConnector>
            <targetReference>Didn_t_understand_it_assign_variable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Don&apos;t know how to use</defaultConnectorLabel>
        <rules>
            <name>Didn_t_like_it_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Other_Issue_Details</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>I_don_t_like_it</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Didn_t_like_it_assignment</targetReference>
            </connector>
            <label>Didn&apos;t like it</label>
        </rules>
        <rules>
            <name>Use_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Other_Issue_Details</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Use</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_Use_variable</targetReference>
            </connector>
            <label>Use</label>
        </rules>
    </decisions>
    <interviewLabel>PA Badging Issues Flow_v6 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PA Badging Issues Flow_v6</label>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>257</locationX>
        <locationY>499</locationY>
        <connector>
            <targetReference>Thank_You</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Information_Collected__c</field>
            <value>
                <elementReference>varInformationCollected</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>Configuration_Issue</name>
        <label>Configuration Issue</label>
        <locationX>275</locationX>
        <locationY>358</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
        <fields>
            <name>ConfigurationIssue</name>
            <fieldText>Here are some recommendations on how to get passed the configuration issues.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Inquiry_about_problem</name>
        <label>Inquiry about problem</label>
        <locationX>274</locationX>
        <locationY>63</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Follow_up_Screen</targetReference>
        </connector>
        <fields>
            <name>Please_tell_us_what_your_issue_is</name>
            <fieldText>Please tell us your issue:</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Problem_Area</name>
            <choiceReferences>Installation</choiceReferences>
            <choiceReferences>Configuration</choiceReferences>
            <choiceReferences>Other</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Problem Area</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Installation_Troubleshooting</name>
        <label>Installation Troubleshooting</label>
        <locationX>111</locationX>
        <locationY>355</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
        <fields>
            <name>InstallHelp</name>
            <fieldText>Here are some instructions as to how to fix the Installation Issues</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Other_Assistance</name>
        <label>Other_Assistance</label>
        <locationX>462</locationX>
        <locationY>261</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Other_Decision</targetReference>
        </connector>
        <fields>
            <name>Other_Issues_Detail</name>
            <fieldText>Provide more information about your issue:</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Other_Issue_Details</name>
            <choiceReferences>Use_Choice</choiceReferences>
            <choiceReferences>Don_t_U_understand_how_this_works</choiceReferences>
            <choiceReferences>I_don_t_like_it</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Other_Issue_Details</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Thank_You</name>
        <label>Thank You</label>
        <locationX>259</locationX>
        <locationY>598</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ThankYou</name>
            <fieldText>Thank you for your assistance to help us resolve your matter!  Don&apos;t hesitate to contact us again with any issues.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>Inquiry_about_problem</startElementReference>
    <variables>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varInformationCollected</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
